[Unit]
Description= Puma
After=network.target

[Service]
Type=forking
User=ubuntu
ExecStart=/usr/local/bin/puma --dir /home/ubuntu/reddit -d
#KillMode=process
Restart=always
Environment="DATABASE_URL=${database_url}"


[Install]
WantedBy=multi-user.target
